@import '../../../utils/scss/variables.scss';

.content {
  width: 660px;
}

.title-area {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  max-width: 655px;
}

.title {
  word-wrap: break-word;
  max-width: 610px;
  font-size: 20px;
  line-height: 28px;
  margin-right: 13px;
  font-weight: 400;
  color: $info-color;
}

.likes {
  border: none;
  width: 16px;
  height: 15px;
  cursor: pointer;
  background-color: inherit;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;

  //&--unchecked {
  //  background-image: url('../../../public/img/heart-empty.svg');
  //}
  //
  //&--unchecked:hover {
  //  background-image: url('../../../public/img/heart-red.svg');
  //}
  //
  //&--checked {
  //  background-image: url('../../../public/img/heart-red.svg');
  //}
  //
  //&--checked:hover {
  //  background-image: url('../../../public/img/heart-empty.svg');
  //}
}

.tag-list {
  display: flex;
  margin-bottom: 4px;
  color: $text-color-secondary;

  &--article {
    margin-bottom: 16px;
  }
}

.tag {
  font-size: $font-size-sm;
  border: 1px solid $text-color-secondary;
  padding: 2px 5px 3px;
  border-radius: 2px;

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.text {
  line-height: 22px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.description-content {
  display: flex;
  margin-bottom: 30px;
}

.description-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 12px;
}

.profile-title {
  color: $heading-color;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.date {
  color: $text-color-secondary;
}

.profile-img {
  width: 46px;
  height: 46px;
  border-radius: 50%;
}

.buttons {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.btn {
  padding: 6px 19px 5px;
  background-color: $background-color-base;
  border: 1px solid;
  border-radius: 5px;
  font-size: 14px;
  line-height: 22px;

  &--delete {
    color: $highlight-color;
    border-color: $highlight-color;
    margin-right: 13px;
    cursor: pointer;
  }

  &--edit {
    color: $success-color;
    border-color: $success-color;
  }
}

.modal {
  position: absolute;
  width: 240px;
  height: 100px;
  padding: 12px 16px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  left: 90px;
  background-color: $background-color-base;
  font-size: $font-size-base;
  line-height: 22px;
}

.modal-text {
  padding-left: 24px;
  margin-bottom: 10px;
  background: url('./img/Vector.svg') no-repeat;
  background-size: 16px 16px;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
}

.modal-btn {
  padding: 1px 8px;
  border: 1px solid;
  border-radius: 4px;
  height: 24px;
  cursor: pointer;

  &--no {
    border-color: #D9D9D9;
    background-color: $background-color-base;
    color: #595959;
    margin-right: 8px;
  }

  &--yes {
    border-color: $info-color;
    background-color: $info-color;
    color: #fff;
  }
}
