@import '../../utils/scss/variables.scss';

.article {
  width: 941px;
  min-height: 600px;
  padding: 17px 14px 60px 16px;
  background-color: $background-color-base;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.header {
  display: flex;
  justify-content: space-between;
  font-size: $font-size-sm;
  margin-bottom: 25px;
}