@import '../../utils/scss/variables.scss';

.list {
  margin-bottom: 27px;
}

.item {
  display: flex;
  justify-content: space-between;
  width: 941px;
  background-color: $background-color-base;
  border-radius: 5px;
  padding: 15px 14px 24px 19px;
  font-size: $font-size-sm;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  &:not(:last-child) {
    margin-bottom: 26px;
  }
}