@import '../../utils/scss/variables';

.header {
  height: 80px;
  padding: 22px;
  margin-bottom: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $background-color-base;
  font-size: 18px;
  line-height: 28px;
}